body {
	margin: 10px 0px 0px 0px;
	padding: 0px;
	background: black;
}

.container {
	width: 500px;
    margin: 0 auto;
    border: 0px solid gray;
    padding: 10px;
    max-width: 600px;
    min-width: 200px;
    background: white;
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .container {
        width: auto;
    }
} 